<section class="page-content">
    <div class="page-header">
       
    </div>
    <div ng-show="!vmHome.visible" class="col-md-12">
        <div class="col-md-11">
        
        </div>
        <div class="col-md-1">
             <button type="submit" class="btn btn-danger" ng-click="vmHome.cerrar()">cerrar sesion</button> 
        </div>
    </div> 
    <div ng-show="vmHome.visible" class="row">        
        <input type="text" ng-model="vmHome.username"/>
        <br>
        <br>
        <button type="submit" class="btn btn-primary"  ng-click=vmHome.login()>
            Login
        </button>
            <br>
    </div>
</section>