
 <section>     
    <div class="col-md-12">
        <div class="col-md-11">
        
        </div>
        <div class="col-md-1">
             <button type="submit" class="btn btn-danger" ng-click="vmPrestamo.cerrar()">cerrar sesion</button> 
        </div>
    </div>
        
     <div>
         <div class="col-md-12">
            <div class="col-md-2">
                <label>Monto del prestamos</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="vmPrestamo.monto" entero maxlength="6" ng-change=vmPrestamo.cambioSelect()>
            </div>
         </div>

         <div class="col-md-12">
            <div class="col-md-2">
                <label>Edad</label>
            </div>
            <div class="col-md-2">
                <input type="text" ng-model="vmPrestamo.edad" entero maxlength="2">
            </div>
         </div>

         <div class="col-md-12">
            <div class="col-md-2">
                <label>tarjeta de credito </label>
            </div>
            <div class="col-md-2">
                <input type="checkbox" ng-model="vmPrestamo.tarjeta"> 
            </div>
         </div>         

         <div class="col-md-12">
            <div class="col-md-2">
                 <label>Plazo</label>
            </div>
            <div class="col-md-2">
                <select name="select" ng-model="vmPrestamo.select" ng-change=vmPrestamo.cambioSelect()>                    
                    <option value="5">3 pagos</option>
                    <option value="7">6 pagos</option>
                    <option value="12">9 pagos</option>
                </select>
            </div>
         </div>
         
         <div class="col-md-12">
            <div class="col-md-2">
                <label>Deuda: </label>
            </div>  
            <div class="col-md-2">
                <label>{{vmPrestamo.deuda}}</label>
            </div>            
         </div>

         <div class="col-md-12">
               
            <div class="col-md-2">
               <button type="submit" class="btn btn-primary" ng-click="vmPrestamo.prestamo()">Solicitar</button>
            </div>        
         </div>

    </div>
    <br>
    <br>
    <div class="row"><br></div>
    <div>   
        <div ui-grid="vmPrestamo.gridOptions" ui-grid-selection ui-grid-pagination class="grid gridcodigos" > </div> 
    </div>     
    

</section>