<div id="navbar" class="navbar navbar-default" ng-hide="vmHeader.isLoginScreen">
  <div class="navbar-container" id="navbar-container">
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" ng-click="vmHeader.toggleMenu()" class="navbar-toggle menu-toggler pull-left" ng-class="{'display':vmHeader.btnToggler}"
      id="menu-toggler" data-target="#sidebar">
          <span class="sr-only">Toggle sidebar</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left">
      <!-- #section:basics/navbar.layout.brand -->
      <a href="" class="navbar-brand">
            <small>
              <i class="fa fa-leaf"></i>
              app
            </small>
          </a>
    </div>

    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">


        <!-- #section:basics/navbar.user_menu -->
        

        <!-- /section:basics/navbar.user_menu -->
      </ul>
    </div>

    <!-- /section:basics/navbar.dropdown -->
  </div>
  <!-- /.navbar-container -->
</div>