
 <section>      
     <div class="col-md-12">
        <div class="col-md-11">
        
        </div>
        <div class="col-md-1">
             <button type="submit" class="btn btn-danger" ng-click="vmHistorial.cerrar()">cerrar sesion</button> 
        </div>
    </div>   
    <div class="col-md-12">
        <br>
    </div>         
    <div class="col-md-12">
        <div ui-grid="vmHistorial.gridOptions" ui-grid-selection ui-grid-pagination class="grid gridcodigos" > 
    </div>  
    

               

</section>